.start_screen {
  position: relative;
  min-height: 100vh;
  padding: 140px 0;
  z-index: 0;
  background-image: url("@img/header_bg_m.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @media (min-width: 768px) {
    background-image: url("@img/header_bg_tablet.jpg");
  }
  @media (min-width: 992px) {
    background-image: url("@img/header_bg.jpg");
  }

  .buttons_line {
    margin-top: 24px;
    @media (min-width: 768px) {
      margin-top: 58px;
    }
  }
}