// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Шрифты
@import "fonts";

// Переменны (цвета, скорость transition и пр)
@import "_variables";

@import "_header_menu";
@import "_start_screen";
@import "_form_screen";
@import "_footer";

*{
    outline: none;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    min-width: 360px;
    font-family: $main_font;
    color: $color01;
    overflow-x: hidden;
    @media (max-width: 991px) {
        .header_menu::after {
            content: "";
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: #000;
            opacity: 0;
            z-index: 2;
            pointer-events: none;
            transition: all $animation_speed;
        }
        &.open-menu {
            overflow: hidden;
            .header_menu::after {
                opacity: 0.5;
                pointer-events: auto;
            }
        }
    }
}

a {
    text-decoration: none;
}

@media (min-width: 1480px) {
    .container {
        max-width: calc(1420px + 12px * 2);
    }
}

// Titles
.title {
    font-family: $secondary_font;
    font-weight: 400;
    margin: 0 0 24px;
    @media (min-width: 768px) {
        margin-bottom: 40px;
    }
}
h1.title {
    font-size: 24px;
    line-height: 29px;
    @media (min-width: 768px) {
        font-size: 56px;
        line-height: 67px;
    }
}
h3.title {
    font-size: 24px;
    line-height: 29px;
    @media (min-width: 768px) {
        font-size: 36px;
        line-height: 43px;
    }
}
h4.title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 24px;
}

.subtitle {
    p {
        margin: 0;
        font-size: 16px;
        line-height: 19px;
        font-weight: 300;
        @media (min-width: 768px) {
            font-size: 26px;
            line-height: 31px;
        }
    }
}

// Buttons
.button {
    display: block;
    background: $color02;
    border-radius: 12px;
    padding: 12px;
    font-family: $main_font;
    color: $color01;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    border: 0;
    transition: all $animation_speed;
    text-align: center;
    cursor: pointer;
    @media (min-width: 768px) {
        font-size: 18px;
        padding: 25px 34px;
    }
    &--light {
        background: $color04;
    }
    &--text,
    &--only_border {
        background: initial;
        font-weight: 500;
    }
    &--text {
        padding: 15px 30px;
        @media (min-width: 768px) {
            padding: 15px 30px;
        }
    }
    &--only_border {
        padding: 14px 29px;
        border: 1px solid #000000;
        @media (min-width: 768px) {
            padding: 14px 29px;
        }
    }
    &--mini {
        padding: 12px;
        @media (min-width: 768px) {
            padding: 12px 32px;
        }
    }
    &--icon {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        img {
            display: block;
            margin-left: 10px;
        }
    }
    &:hover {
        color: $color01;
        opacity: .75;
    }
}

.buttons_line {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -4px;
    @media (min-width: 768px) {
        margin: 0 -10px;
    }
    & > .button {
        margin: 0 4px;
        padding: 12px 0;
        width: calc(50% - 8px);
        @media (min-width: 768px) {
            width: auto;
            margin: 0 10px;
            padding: 25px 34px;
        }
    }
}

form {
    .button {
        margin-top: 40px;
        padding: 16px 32px;
    }
    .buttons_line {
        margin-top: 40px;
    }
}

.input {
    span {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        display: block;
        margin-bottom: 10px;
    }
    .captcha {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
    input {
        font-weight: 500;
        background: #FFF8E1;
        border-radius: 6px;
        border: 0;
        padding: 16px 8px;
        display: block;
        width: 100%;
        font-size: 14px;
        color: $color01;
        line-height: 1;
        &::placeholder {
            color: $color07;
        }
    }
    & + & {
        margin-top: 20px;
    }
}